# Mac OSX
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle
build
reports
!docs/reports
!gradle-wrapper.jar

# Java
hs_err_pid*
classes.lst
*.jsa
jre/

# Kotlin
**/.kotlin

# Kobweb ignores
**/.kobweb/*
!**/.kobweb/conf.yaml

# Gradle release
cx.json
