# sdk-config.yaml is a comprehensive starting point for configuring the SDK, including exporting to
# localhost via OTLP.
#
# NOTE: With the exception of env var substitution syntax (i.e. ${MY_ENV}), SDKs ignore
# environment variables when interpreting config files. This including ignoring all env
# vars defined in https://opentelemetry.io/docs/specs/otel/configuration/sdk-environment-variables/.
#
# For schema documentation, including required properties, semantics, default behavior, etc,
# see: https://github.com/open-telemetry/opentelemetry-configuration/blob/main/schema-docs.md
file_format: "1.0-rc.3"
disabled: ${OTEL_SDK_DISABLED:-false}
log_level: info

resource:
  attributes:
    - name: service.name
      value: ${OTEL_SERVICE_NAME:-ktor-app}
    - name: service.namespace
      value: ${OTEL_SERVICE_NAMESPACE:-dev}
    - name: service.instance.id
      value: ${OTEL_SERVICE_INSTANCE_ID:-compute-1}

attribute_limits:
  attribute_value_length_limit:
  attribute_count_limit: 128

propagator:
  composite:
    - tracecontext:
    - baggage:

tracer_provider:
  processors:
    - batch:
        schedule_delay: 5000
        export_timeout: 30000
        max_queue_size: 2048
        max_export_batch_size: 512
        exporter:
          otlp_http:
            endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:-http://host.docker.internal:4318}/v1/traces
            tls:
              ca_file:
              key_file:
              cert_file:
            compression: gzip
            timeout: 10000
            headers: [ ]
  limits:
    attribute_value_length_limit:
    attribute_count_limit: 128
    event_count_limit: 128
    link_count_limit: 128
    event_attribute_count_limit: 128
    link_attribute_count_limit: 128
  sampler:
    parent_based:
      root:
        rule_based_routing:
          fallback_sampler:
            always_on:
          span_kind: SERVER
          rules:
            - action: DROP
              attribute: url.path
              pattern: /docs.*
        # cel_based:
        #   fallback_sampler:
        #     always_on:
        #   expressions:
        #     - action: DROP
        #       expression: spanKind == 'SERVER' && attribute['url.path'].startsWith('/health')
        #     - action: RECORD_AND_SAMPLE
        #       expression: attribute['http.method'] == 'GET' && attribute['http.status_code'] < 400
      remote_parent_sampled:
        always_on:
      remote_parent_not_sampled:
        always_off:
      local_parent_sampled:
        always_on:
      local_parent_not_sampled:
        always_off:

meter_provider:
  readers:
    - periodic:
        interval: 60000
        timeout: 30000
        exporter:
          otlp_http:
            endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:-http://host.docker.internal:4318}/v1/metrics
            tls:
              ca_file:
              key_file:
              cert_file:
            compression: gzip
            timeout: 10000
            temporality_preference: cumulative
            default_histogram_aggregation: explicit_bucket_histogram
  exemplar_filter: trace_based

logger_provider:
  processors:
    - batch:
        schedule_delay: 1000
        export_timeout: 30000
        max_queue_size: 2048
        max_export_batch_size: 512
        exporter:
          otlp_http:
            endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:-http://host.docker.internal:4318}/v1/logs
            tls:
              ca_file:
              key_file:
              cert_file:
            compression: gzip
            timeout: 10000
  limits:
    attribute_value_length_limit:
    attribute_count_limit: 128

instrumentation:
  java:
    common:
      default-enabled: true
    runtime-telemetry:
      emit-experimental-telemetry: true
    runtime-telemetry-java17:
      enable-all: true
    # https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/logback/logback-appender-1.0/javaagent
    logback-appender:
      enabled: true
      experimental-log-attributes: false
      experimental:
        capture-code-attributes: false
        capture-marker-attributes: false
        capture-key-value-pair-attributes: false
        capture-logger-context-attributes: false
        capture-arguments: false
        capture-mdc-attributes: false
    ktor:
      enabled: true